.popup {
  position: fixed;
  top: 10%;
  left: 20%;
  min-height: 20%;
  width: 60%;
  border: solid 1px #bbb;
  background-color: rgba(40, 40, 40, 0.9);
  box-shadow: 0px 0px 13px 0px rgba(94, 94, 94, 1);
  background-image: url("/res/img/textures/tiled.png");
  text-align: center;
  padding-bottom: 32px;
  color: #fff;
}

.popupshade {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.2); */
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
