

h1, h2{
  text-align: center;
}

.clickable{
  cursor: pointer;
}
.notclickable{
  cursor: default;
}

.option{
  margin: 8px;
  display: inline-block;
  white-space: nowrap;
}

.option span, .option button, .option select, .option input, #playersMenu button, button.option{
  text-align: center;
  background: #FBFBFB;
  border: solid 1px #DDD;
  box-shadow: 0px 0px 1px 0px rgba(94,94,94,0.06);
  font-size: 0.8em;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.option select{
  padding: 7px;
}

.option .left{
  margin-right: -3px;
}

.option .right{
  margin-left: -3px;
}

.option .vspace, .option.vspace{
  display: inline-block;
  margin-right: 16px;
  margin-left: 16px;
}
