<div class="popupshade" id="quickstartShade"></div>
<div class="popup" id="quickstartMenu">
  <h2>Quick Games:</h2>

  <button class="option vspace" data-action="quickPvP" data-teams="2" data-size="2">2P vs 2P</button><br />
  <button class="option vspace" data-action="quickPvP" data-teams="2" data-size="3">3P vs 3P</button><br />
  <button class="option vspace" data-action="quickPvP" data-teams="3" data-size="2">2P vs 2P vs 2P</button><br />
  <br />
  <button class="option vspace" data-action="quickPvB" data-teams="2" data-size="2">2P vs 2C</button><br />
  <button class="option vspace" data-action="quickPvB" data-teams="2" data-size="3">3P vs 3C</button><br />
  <br />
  <button class="option vspace" data-action="quickMixed" data-teams="2" data-size="2">2M vs 2M</button><br />
  <button class="option vspace" data-action="quickMixed" data-teams="3" data-size="2">2M vs 2M vs 2M</button><br />
  <button class="option vspace" data-action="quickUnevenMixed" data-teams="2" data-size="2">2M vs 2B</button>
</div>
