

#playersMenu{
  position: relative;
  width: 100%;
  left: 0px;
}

#playersMenu .name{
  display: inline-block;
  width: 120px;
  margin-right: 20px;
}

#playersMenu .team{
  display: inline-block;
  width: 30px;
  margin-right: 20px;
}

#playersMenu .remove{
  display: inline-block;
  width: 30px;
  margin-left: 20px;
  color: #F44336;
}

.keyEditButton{
  margin: 2px;
  width: 60px;
}

.keyEditButton:focus{
  background: rgba(153, 204, 255, 0.5);
}
